<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>user details</h2>
      <br>
      <br> ID: <%=  user._id %>
      <br> Sid: <%=user.sid%>
      <br> Firstname: <%=user.firstname%>
      <br> Familyname: <%=user.familyname%>
      <hr>

      <form method="get" action="/user">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>