<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Confirm deletion of info</h2>
      <br>
      <br> ID: <%=  info._id %>
      <br> email: <%=info.email%>
      <br> course: <%=info.course %>
      <hr>
      
      <form method="get" action="/info">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>
      
      <form method="POST" action="/info/delete/<%= info._id %>">
        <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
      </form>

    </div>
  </div>
</div>