<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Info details</h2>
      <br>
      <br> ID: <%=  info._id %>
      <br> email: <%=info.email%>
      <br> course: <%=info.course %>
      <hr>

      <form method="get" action="/info">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>