<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="info/create" class="btn btn-primary new">
        Create a new info
      </a>

      <h2>Recent entries</h2>
      <p>There are
        <%= info.query.length %> info.
        <br>
      </p>
      <% for (var i = info.query.leng<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="info/create" class="btn btn-primary new">
        Create a new info
      </a>

      <h2>Recent entries</h2>
      <p>There are
        <%= info.query.length %> info.
        <br>
      </p>
      <% for (var i = info.query.length-1; i >= 0; i--) {   
        info = info.query[i];   %>

      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="text-muted pull-right"></div>
        <div class="panel-body">

         <br> ID: <%=  info._id %>
      <br> email: <%=info.email%>
      <br> course: <%=info.course %>
          <hr>
          <a href="/info/delete/<%= info._id  %>" class="btn btn-danger"> Delete </a>
          <a href="/info/details/<%= info._id %>" class="btn btn-info"> Details </a>
          <a href="/info/edit/<%= info._id %>" class="btn btn-primary"> Edit </a>
          <hr>
          <hr>
        </div>
      </div>
      <% } %>

    </div>
  </div>
</div>th-1; i >= 0; i--) {   
        info = info.query[i];   %>

      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="text-muted pull-right"></div>
        <div class="panel-body">

         <br> ID: <%=  info._id %>
      <br> email: <%=info.email%>
      <br> course: <%=info.course %>
          <hr>
          <a href="/info/delete/<%= info._id  %>" class="btn btn-danger"> Delete </a>
          <a href="/info/details/<%= info._id %>" class="btn btn-info"> Details </a>
          <a href="/info/edit/<%= info._id %>" class="btn btn-primary"> Edit </a>
          <hr>
          <hr>
        </div>
      </div>
      <% } %>

    </div>
  </div>
</div>