<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h1> JASWANTHI NANNURU </h1>
      <h2> AM THE SCRIBE FOR THIS APPLICATION </h2>

      <br>
      <br>
    </div>
  </div>
</div>